<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Face Detector</h1>
        </header>
        
        <main>
            <div class="upload-box">
                <form id="upload-form" action="/detect" method="post" enctype="multipart/form-data">
                    <div class="image-preview">
                        {% if uploaded_image %}
                            <img id="preview-image" src="{{ uploaded_image }}" alt="Uploaded Image">
                        {% else %}
                            <img id="preview-image" src="{{ url_for('static', filename='image/upload_2.jpg') }}" alt="Preview">
                        {% endif %}
                    </div>
            
                    <div class="upload-controls">
                        <input type="file" id="imageUpload" name="image" accept="image/*">
                        <button type="submit" class="submit-btn">Detect Faces</button>
                    </div>
                </form>
            
                {% if processed_image %}
                    <h3>Processed Image:</h3>
                    <div class="processed-preview">
                        <img src="{{ processed_image }}" alt="Detected Faces">
                    </div>
                {% endif %}
            
                {% if face_count is not none %}
                    <p class="face-detection-result">
                        Detected Faces: {{ face_count if face_count > 0 else "None" }}
                    </p>
                {% endif %}
            </div>
            
            
            
        </main>

    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>